<div class="option-card">
  <svg class="option-card__number-icon" width="116" height="75">
    <use xlink:href="#icon-number-1" />
  </svg>
  <div class="option-card__image-wrapper">
    <picture>
      <img
        class="option-card__image option-card__image--first"
        src="assets/images/class-icon-1@1x.png"
        srcset="assets/images/class-icon-1@2x.png 2x"
        alt="путешествие"
      >
    </picture>
  </div>
  <div class="option-card__content">
    <h2 class="option-card__title">Общий курс испанского языка</h2>
    <strong class="option-card__annotation">для кого этот курс?</strong>
    <p class="option-card__description">
      Подойдет для тех кто хочет изучать язык «для себя», путешествий и жизни в Испании. Материал подбирается....
    </p>
    <div class="option-card__more-info">

      {% include '../../atoms/button-secondary/button-secondary.twig' with {
        'name': 'Подробнее о курсе'
      }%}

    </div>
  </div>
</div>
