{% extends '../layout/default/default.twig' %}

{% block content %}

  <section class="first-screen">
    <img class="first-screen__img" src="assets/images/index-first-photo-x1.webp" alt="Александра Абрамова">

    <p class="first-screen__text first-screen__text--top">Привет, меня зовут</p>
    <h1 class="first-screen__title">Александра Абрамова</h1>
    <p class="first-screen__text first-screen__text--bottom">
      Я более пяти лет знакомлю и влюбляю людей в испанский язык. Если ты давно мечтаешь заговорить на самой красивом
      языке в мире, то ты обратился по адресу.
    </p>
  </section>

{% endblock %}
