{% extends '../../layout/default/default.twig' %}

{% block content %}

  <section class="class-options">
    <h1 class="class-options__title">{{ title }}</h1>
    <ul class="class-options__list">

        {% for option in options %}
          <li class="class-options__item">
            {% include '../../components/molecules/option-card/option-card.twig' with {
              'props': option,
              'isReversed': loop.index0 != 1 ? 'reversed' : '',
            } %}
          </li>
        {% endfor %}

    </ul>
  </section>

{% endblock %}

{% block footer %}

  {% include '../../components/organisms/page-footer/page-footer.twig' %}

{% endblock %}

