{% extends '../../layout/default/default.twig' %}

{% block content %}

  <section class="class-options">
    <h1 class="class-options__title">{{ title }}</h1>
    <ul class="class-options__list">
      <li class="class-options__item">

        {% for option in options %}
          {% include '../../components/molecules/option-card/option-card.twig' with {
            'props': option
          } %}
        {% endfor %}

      </li>
    </ul>
  </section>

{% endblock %}

{% block footer %}

  {% include '../../components/organisms/page-footer/page-footer.twig' %}

{% endblock %}

