.class-options {
  margin-bottom: 180px;
  padding-top: 47px;
  background-image: url("../assets/images/bg-header-image-1.png");
  background-repeat: no-repeat;
  background-position: 83% -112px;
  //background-position: -524px -112px;

  &__title {
    max-width: 330px;
    margin: 0 auto 90px;

    text-align: center;
    color: $color_black_1;

    @include nunito(40px, 37px, 700);
  }

  &__list {
    padding: 0 30px;
  }

  &__item:not(:last-child) {
    margin-bottom: 97px;
  }
}
