.social-list {
  overflow: hidden;
}

.social-list__content {
  display: flex;
  margin: 0 -5px 0;
  padding-left: 0;
}

.social-list__item {
  margin-right: 5px;
}

.social-list__link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30px;
  height: 30px;

  &:hover,
  &:focus {
    opacity: .7;
  }

  &:active {
    opacity: .5;
  }
}
