.social-list {
  overflow: hidden;
}

.social-list__content {
  display: flex;
  margin: 0 -5px 0 0;
  padding-left: 0;
}

.social-list__item {
  margin-right: 5px;
}

.social-list__link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $color_yellow;
  }

  &:active {
    opacity: .8;
    background-color: $color_yellow;
  }
}
