.page-main {
  margin-bottom: 150px;
}

.page-main__scroll-button {
  position: fixed;
  z-index: 1000;
  top: 234px;
  right: 20px;
}

.page-main--index {
  @media (min-width: $tablet-width) {
    background-image: url("../assets/images/index-bg-line-4-tablet.png"),
    url("../assets/images/index-bg-line-5-tablet.png");
    background-repeat: no-repeat;
    background-position: left calc(20% - 89px) bottom -40px,
      right calc(20% - 135px) bottom -4px;
  }
}
