<header class="page-header">
  <div class="page-header__menu-pre-wrapper page-header__menu-pre-wrapper--hide">
    <div class="page-header__menu-wrapper">
      {% include '../main-nav/main-nav.twig' %}
    </div>
  </div>

  <div class="page-header__button-wrapper">
    <button
      class="page-header__toggle-menu-button page-header__toggle-menu-button--open-menu"
      type="button"
      aria-label="Открыть меню"
    ></button>
  </div>
</header>
