.button-secondary {
  display: block;
  width: 100%;
  padding: 5px;

  text-align: center;

  border: 2px solid #fbe373;
  border-radius: 3px;
  background-color: transparent;

  @include nunito(16px, 22px, 400);

  &:hover,
  &:focus {
    background-color: #fbe373;
  }

  &:active {
    opacity: .8;
  }
}
