<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a class="main-nav__link" href="#about-me">Обо мне
        <svg class="main-nav__svg" width="14" height="14">
          <use xlink:href="#icon-menu-item-arrow" />
        </svg>
      </a>
    </li>

    <li class="main-nav__item">
      <a class="main-nav__link" href="class-options.html">Варианты занятий
        <svg class="main-nav__svg" width="14" height="14">
          <use xlink:href="#icon-menu-item-arrow" />
        </svg>
      </a>
    </li>

    <li class="main-nav__item">
      <a class="main-nav__link" href="#blog">Блог
        <svg class="main-nav__svg" width="14" height="14">
          <use xlink:href="#icon-menu-item-arrow" />
        </svg>
      </a>
    </li>

    <li class="main-nav__item">
      <a class="main-nav__link" href="#contacts">Контакты
        <svg class="main-nav__svg" width="14" height="14">
          <use xlink:href="#icon-menu-item-arrow" />
        </svg>
      </a>
    </li>
  </ul>
</nav>
