<footer class="page-footer">
  <div class="page-footer__social">
    {% include '../../molecules/social-list/social-list.twig' %}
  </div>
  <p class="page-footer__copyright">©️ 2021 espabila | все права защищены</p>
</footer>
