.first-screen {
  max-width: 414px;
  margin: 0 auto;
  padding: 0 7%;
}

.first-screen__img {
  display: block;
  width: 114%;
  max-width: 414px;
  margin-left: -7%;
}

.first-screen__text {
  font-size: 19px;
  line-height: 26px;
  font-weight: 300;
}

.first-screen__text--top {
  margin-top: -30px;
}

.first-screen__title {
  margin: 0;
  font-size: 45px;
  line-height: 44px;
  font-weight: 800;
  color: #880006;

  @media (min-width: 350px) {
    font-size: 50px;
    line-height: 49px;
    font-weight: 800;
  }
}

