<section class="first-screen">
  <div class="first-screen__content">
    <div class="first-screen__img-wrapper">
      <img class="first-screen__img" src="assets/images/index-first-photo@x1.png" alt="Александра Абрамова">
    </div>

    <p class="first-screen__text first-screen__text--top">Привет, меня зовут</p>
    <h1 class="first-screen__title">Александра Абрамова</h1>
    <p class="first-screen__text first-screen__text--bottom">
      Я более пяти лет знакомлю и влюбляю людей в испанский язык. Если ты давно мечтаешь заговорить на самой красивом
      языке в мире, то ты обратился по адресу.
    </p>
  </div>
</section>
