@import
  "mixins",
  "fonts",
  "variables",
  "global",
  "source/layout/default/page-main",

  "source/components/atoms/button-primary/button-primary",
  "source/components/atoms/button-secondary/button-secondary",

  "source/components/molecules/main-nav/main-nav",
  "source/components/molecules/option-card/option-card",

  "source/components/organisms/first-screen/first-screen",
  "source/components/organisms/page-header/page-header",

  "source/pages/class-options/class-options";

// Правила в группах в алфавитном порядке
